* {
    margin: 0;
    font-family: Space Mono;
}

.container {
    display: flex;
    gap: 120px;

}

button {
    padding: 18px 34px;
    background: #333;
}

.text-contant {
    padding-top: 200px;
}

img {
    padding-left: 110px;
    width: 590px;
    height: 440px;
    padding-top: 200px;
}

.tital {
    color: #333;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -2.24px;
    padding-right: 119px;
}

p {
    width: 351px;
    color: #4f4f4f;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.84px;
    margin-top: 36px;
    line-height: 30px;
    margin-bottom: 64px;
}

button {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.49px;
    text-transform: uppercase;
    padding: 24px 43px;
    background: #333;
}

@media screen and (max-width: 776px) {

    .container {
        display: block;
        flex-direction: column;
        padding: 20px;
    }

    img {
        width: 100%;
        padding-top: 90px;
        padding-left: 0px;
        height: auto;
    }

    .text-contant {
        padding-top: 0px;
    }

    .tital {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: -1.68px;
        padding-top: 40px;
        /* padding-bottom: -50px; */
        margin-bottom: 25px;
        padding-right: 0px;
    }

    p {
        font-size: 18px;
        /* width: auto; */
        font-weight: 400;
        margin-top: 0px;
        letter-spacing: -0.63px;
        margin-bottom: 60px;
        width: 90%;

    }
}